examples/node-red-contrib-klicktipp.json
[
    {
        "id": "fe79a10b200fcbe4",
        "type": "tab",
        "label": "KlickTipp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4b4bc30ef2c82a8d",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Opt-in process",
        "style": {
            "label": true
        },
        "nodes": [
            "fa73380c34a41e43",
            "026487697fe336f0",
            "965457174b5e5113",
            "b90a34264dcd35a8",
            "ae338cc6cbf504c9",
            "a8c1b618409d2187",
            "6ec3c248c9c27cd4",
            "c2de63091b975e4f",
            "58e854d69490128f"
        ],
        "x": 54,
        "y": 1119,
        "w": 572,
        "h": 202
    },
    {
        "id": "4d5728772d927a60",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Tags",
        "style": {
            "label": true
        },
        "nodes": [
            "70b374c6722eb54d",
            "e9a5a7e995dfa680",
            "c25f78b64476f953",
            "049e81844f43f2c4",
            "195dd42884203d80",
            "1be983dce9637bad",
            "f2aa4a82f1ebf24a",
            "bb5a0cbd640f8abc",
            "434ebfd44cf3155f",
            "95f135933541437f",
            "e9036a07dc8b844e",
            "a7441eae5d03faf0",
            "1842931a658f83aa",
            "907a882a5d89da95",
            "47a3d7cd4e7c4e37"
        ],
        "x": 54,
        "y": 759,
        "w": 572,
        "h": 322
    },
    {
        "id": "91d5baa69631ee47",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Contacts",
        "style": {
            "label": true
        },
        "nodes": [
            "92336b834febe436",
            "758b5984126a14b4",
            "d30b11b43960e76c",
            "a97ea3f5dce48c87",
            "4e2404394e47fe78",
            "bf9be1c52d0904f4",
            "7702da50a849bbf6",
            "344a1d984372bf6b",
            "e8b5ac4c8e6bf202",
            "1be1d8274c9a4257",
            "30ba0f521198bbd8",
            "9c6534e38e97f7d4",
            "c49d27c5707f54ef",
            "94e04f78394941c8",
            "803ab5a05ab504aa",
            "4a4799e9978f17d4",
            "d44a3c6517a7fbb0",
            "a63bb1dd632e3cd7",
            "e843b0a5f8f8b77d",
            "690e74be08cade69",
            "c3782c02bfcff2c0",
            "59c6193dfb7fbf30",
            "2610abf7ed2cf201",
            "04b724f4f05057b8"
        ],
        "x": 53,
        "y": 38,
        "w": 574,
        "h": 501
    },
    {
        "id": "b4a856cd32d32ee8",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Data fields",
        "style": {
            "label": true
        },
        "nodes": [
            "af82d9ce42a2e765",
            "79834f7e73472f69",
            "4de7bbe04e5ad011",
            "987290ac96c65b83",
            "ce64b5ade71279cb",
            "c69fd0f858b9e809"
        ],
        "x": 54,
        "y": 1359,
        "w": 572,
        "h": 142
    },
    {
        "id": "3b0dda1716feecf2",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Contacts tagging",
        "style": {
            "label": true
        },
        "nodes": [
            "37121e34c3078b7f",
            "8f546929b1fbb609",
            "cf331048d8a3989e",
            "4d484842cd28ab09",
            "61d753adc69e43b3",
            "fe7858dcbc7b394b"
        ],
        "x": 54,
        "y": 579,
        "w": 572,
        "h": 142
    },
    {
        "id": "f84e0a978b59a120",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Triggers",
        "style": {
            "label": true
        },
        "nodes": [
            "4b3965d3ecdeace5",
            "ee29ef3ceadd49bf",
            "4e4141ee95b0f660"
        ],
        "x": 54,
        "y": 1539,
        "w": 572,
        "h": 82
    },
    {
        "id": "fa73380c34a41e43",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "6ec3c248c9c27cd4"
            ]
        ]
    },
    {
        "id": "7dfc7cdb6b3a1cb3",
        "type": "catch",
        "z": "fe79a10b200fcbe4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "2adf233445dd075b"
            ]
        ]
    },
    {
        "id": "2adf233445dd075b",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "name": "Log error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "026487697fe336f0",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "965457174b5e5113",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "c2de63091b975e4f"
            ]
        ]
    },
    {
        "id": "b90a34264dcd35a8",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "58e854d69490128f"
            ]
        ]
    },
    {
        "id": "70b374c6722eb54d",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "e9036a07dc8b844e"
            ]
        ]
    },
    {
        "id": "e9a5a7e995dfa680",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "a7441eae5d03faf0"
            ]
        ]
    },
    {
        "id": "c25f78b64476f953",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "1842931a658f83aa"
            ]
        ]
    },
    {
        "id": "049e81844f43f2c4",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "47a3d7cd4e7c4e37"
            ]
        ]
    },
    {
        "id": "195dd42884203d80",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "907a882a5d89da95"
            ]
        ]
    },
    {
        "id": "af82d9ce42a2e765",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1400,
        "wires": [
            [
                "c69fd0f858b9e809"
            ]
        ]
    },
    {
        "id": "79834f7e73472f69",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1400,
        "wires": []
    },
    {
        "id": "92336b834febe436",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 79,
        "wires": [
            [
                "d44a3c6517a7fbb0"
            ]
        ]
    },
    {
        "id": "758b5984126a14b4",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 151,
        "y": 257,
        "wires": [
            [
                "a63bb1dd632e3cd7"
            ]
        ]
    },
    {
        "id": "d30b11b43960e76c",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 531,
        "y": 257,
        "wires": []
    },
    {
        "id": "a97ea3f5dce48c87",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 377,
        "wires": [
            [
                "2610abf7ed2cf201"
            ]
        ]
    },
    {
        "id": "4e2404394e47fe78",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 151,
        "y": 317,
        "wires": [
            [
                "690e74be08cade69"
            ]
        ]
    },
    {
        "id": "bf9be1c52d0904f4",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 531,
        "y": 317,
        "wires": []
    },
    {
        "id": "7702da50a849bbf6",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 198,
        "wires": [
            [
                "59c6193dfb7fbf30"
            ]
        ]
    },
    {
        "id": "344a1d984372bf6b",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 151,
        "y": 498,
        "wires": [
            [
                "04b724f4f05057b8"
            ]
        ]
    },
    {
        "id": "e8b5ac4c8e6bf202",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 531,
        "y": 498,
        "wires": []
    },
    {
        "id": "1be1d8274c9a4257",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 529,
        "y": 136,
        "wires": []
    },
    {
        "id": "30ba0f521198bbd8",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 149,
        "y": 136,
        "wires": [
            [
                "c3782c02bfcff2c0"
            ]
        ]
    },
    {
        "id": "9c6534e38e97f7d4",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 438,
        "wires": [
            [
                "e843b0a5f8f8b77d"
            ]
        ]
    },
    {
        "id": "c49d27c5707f54ef",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 438,
        "wires": []
    },
    {
        "id": "94e04f78394941c8",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 377,
        "wires": []
    },
    {
        "id": "4a4799e9978f17d4",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 198,
        "wires": []
    },
    {
        "id": "1be983dce9637bad",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f2aa4a82f1ebf24a",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "bb5a0cbd640f8abc",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 980,
        "wires": []
    },
    {
        "id": "434ebfd44cf3155f",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "95f135933541437f",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 920,
        "wires": []
    },
    {
        "id": "803ab5a05ab504aa",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 79,
        "wires": []
    },
    {
        "id": "ae338cc6cbf504c9",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a8c1b618409d2187",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6ec3c248c9c27cd4",
        "type": "klicktipp-subscription-process-index",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "x": 340,
        "y": 1220,
        "wires": [
            [
                "026487697fe336f0"
            ]
        ]
    },
    {
        "id": "c2de63091b975e4f",
        "type": "klicktipp-subscription-process-get",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "listId": "",
        "name": "",
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "a8c1b618409d2187"
            ]
        ]
    },
    {
        "id": "58e854d69490128f",
        "type": "klicktipp-subscription-process-get-redirect",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "email": "",
        "emailType": "str",
        "listId": "",
        "name": "",
        "x": 330,
        "y": 1280,
        "wires": [
            [
                "ae338cc6cbf504c9"
            ]
        ]
    },
    {
        "id": "e9036a07dc8b844e",
        "type": "klicktipp-tag-index",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "1be983dce9637bad"
            ]
        ]
    },
    {
        "id": "a7441eae5d03faf0",
        "type": "klicktipp-tag-get",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagId": "",
        "name": "",
        "x": 300,
        "y": 980,
        "wires": [
            [
                "bb5a0cbd640f8abc"
            ]
        ]
    },
    {
        "id": "1842931a658f83aa",
        "type": "klicktipp-tag-create",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagName": "",
        "tagNameType": "str",
        "tagDescription": "",
        "tagDescriptionType": "str",
        "name": "",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "f2aa4a82f1ebf24a"
            ]
        ]
    },
    {
        "id": "907a882a5d89da95",
        "type": "klicktipp-tag-delete",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagId": "",
        "name": "",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "95f135933541437f"
            ]
        ]
    },
    {
        "id": "47a3d7cd4e7c4e37",
        "type": "klicktipp-tag-update",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagName": "",
        "tagNameType": "str",
        "tagDescription": "",
        "tagDescriptionType": "str",
        "tagId": 0,
        "x": 310,
        "y": 860,
        "wires": [
            [
                "434ebfd44cf3155f"
            ]
        ]
    },
    {
        "id": "d44a3c6517a7fbb0",
        "type": "klicktipp-subscriber-subscribe",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "email": "",
        "emailType": "str",
        "smsNumber": "",
        "smsNumberType": "str",
        "listId": "",
        "tagId": "",
        "fields": "",
        "fieldsType": "msg",
        "fieldsData": {},
        "name": "",
        "x": 352,
        "y": 79,
        "wires": [
            [
                "803ab5a05ab504aa"
            ]
        ]
    },
    {
        "id": "a63bb1dd632e3cd7",
        "type": "klicktipp-subscriber-unsubscribe",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "email": "",
        "emailType": "str",
        "name": "",
        "x": 341,
        "y": 257,
        "wires": [
            [
                "d30b11b43960e76c"
            ]
        ]
    },
    {
        "id": "e843b0a5f8f8b77d",
        "type": "klicktipp-subscriber-index",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "klicktipp": "",
        "name": "",
        "x": 310,
        "y": 438,
        "wires": [
            [
                "c49d27c5707f54ef"
            ]
        ]
    },
    {
        "id": "690e74be08cade69",
        "type": "klicktipp-subscriber-get",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "subscriberId": 0,
        "subscriberIdType": "num",
        "name": "",
        "x": 312,
        "y": 317,
        "wires": [
            [
                "bf9be1c52d0904f4"
            ]
        ]
    },
    {
        "id": "c3782c02bfcff2c0",
        "type": "klicktipp-subscriber-update",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "subscriberId": 0,
        "subscriberIdType": "num",
        "newEmail": "",
        "newEmailType": "str",
        "newSmsNumber": "",
        "newSmsNumberType": "str",
        "fields": "",
        "fieldsType": "msg",
        "fieldsData": {},
        "name": "",
        "x": 322,
        "y": 136,
        "wires": [
            [
                "1be1d8274c9a4257"
            ]
        ]
    },
    {
        "id": "59c6193dfb7fbf30",
        "type": "klicktipp-subscriber-delete",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "subscriberId": 0,
        "subscriberIdType": "num",
        "name": "",
        "x": 321,
        "y": 198,
        "wires": [
            [
                "4a4799e9978f17d4"
            ]
        ]
    },
    {
        "id": "2610abf7ed2cf201",
        "type": "klicktipp-subscriber-search",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "email": "",
        "emailType": "str",
        "name": "",
        "x": 321,
        "y": 377,
        "wires": [
            [
                "94e04f78394941c8"
            ]
        ]
    },
    {
        "id": "04b724f4f05057b8",
        "type": "klicktipp-subscriber-tagged",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "tagId": "",
        "name": "",
        "x": 339,
        "y": 498,
        "wires": [
            [
                "e8b5ac4c8e6bf202"
            ]
        ]
    },
    {
        "id": "37121e34c3078b7f",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "3b0dda1716feecf2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "61d753adc69e43b3"
            ]
        ]
    },
    {
        "id": "8f546929b1fbb609",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "3b0dda1716feecf2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "cf331048d8a3989e",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "3b0dda1716feecf2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "fe7858dcbc7b394b"
            ]
        ]
    },
    {
        "id": "4d484842cd28ab09",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "3b0dda1716feecf2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "61d753adc69e43b3",
        "type": "klicktipp-subscriber-tag",
        "z": "fe79a10b200fcbe4",
        "g": "3b0dda1716feecf2",
        "klicktipp": "b299c4a5eaadab88",
        "email": "",
        "emailType": "str",
        "tagId": [],
        "name": "",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "8f546929b1fbb609"
            ]
        ]
    },
    {
        "id": "fe7858dcbc7b394b",
        "type": "klicktipp-subscriber-untag",
        "z": "fe79a10b200fcbe4",
        "g": "3b0dda1716feecf2",
        "klicktipp": "b299c4a5eaadab88",
        "email": "",
        "emailType": "str",
        "tagId": "",
        "name": "",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "4d484842cd28ab09"
            ]
        ]
    },
    {
        "id": "4de7bbe04e5ad011",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "ce64b5ade71279cb"
            ]
        ]
    },
    {
        "id": "987290ac96c65b83",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ce64b5ade71279cb",
        "type": "klicktipp-field-index",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "klicktipp": "b299c4a5eaadab88",
        "name": "",
        "x": 320,
        "y": 1460,
        "wires": [
            [
                "987290ac96c65b83"
            ]
        ]
    },
    {
        "id": "c69fd0f858b9e809",
        "type": "klicktipp-field-get",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "klicktipp": "b299c4a5eaadab88",
        "apiFieldId": "",
        "name": "",
        "x": 320,
        "y": 1400,
        "wires": [
            [
                "79834f7e73472f69"
            ]
        ]
    },
    {
        "id": "4b3965d3ecdeace5",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "f84e0a978b59a120",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "ee29ef3ceadd49bf"
            ]
        ]
    },
    {
        "id": "ee29ef3ceadd49bf",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "f84e0a978b59a120",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1580,
        "wires": []
    },
    {
        "id": "4e4141ee95b0f660",
        "type": "klicktipp-webhook-trigger",
        "z": "fe79a10b200fcbe4",
        "g": "f84e0a978b59a120",
        "name": "",
        "token": "",
        "x": 330,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "b299c4a5eaadab88",
        "type": "klicktipp-config",
        "name": "mchudesnov"
    }
]