examples/node-red-contrib-klicktipp.json
[
    {
        "id": "fe79a10b200fcbe4",
        "type": "tab",
        "label": "KlickTipp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4b4bc30ef2c82a8d",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Opt-in process",
        "style": {
            "label": true
        },
        "nodes": [
            "fa73380c34a41e43",
            "026487697fe336f0",
            "965457174b5e5113",
            "b90a34264dcd35a8",
            "ae338cc6cbf504c9",
            "a8c1b618409d2187",
            "6ec3c248c9c27cd4",
            "c2de63091b975e4f",
            "58e854d69490128f"
        ],
        "x": 54,
        "y": 919,
        "w": 572,
        "h": 202
    },
    {
        "id": "4d5728772d927a60",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Tags",
        "style": {
            "label": true
        },
        "nodes": [
            "70b374c6722eb54d",
            "e9a5a7e995dfa680",
            "c25f78b64476f953",
            "049e81844f43f2c4",
            "195dd42884203d80",
            "1be983dce9637bad",
            "f2aa4a82f1ebf24a",
            "bb5a0cbd640f8abc",
            "434ebfd44cf3155f",
            "95f135933541437f",
            "e9036a07dc8b844e",
            "a7441eae5d03faf0",
            "1842931a658f83aa",
            "907a882a5d89da95",
            "47a3d7cd4e7c4e37"
        ],
        "x": 54,
        "y": 1179,
        "w": 572,
        "h": 322
    },
    {
        "id": "91d5baa69631ee47",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Subscription",
        "style": {
            "label": true
        },
        "nodes": [
            "92336b834febe436",
            "758b5984126a14b4",
            "d30b11b43960e76c",
            "a97ea3f5dce48c87",
            "4e2404394e47fe78",
            "bf9be1c52d0904f4",
            "7702da50a849bbf6",
            "344a1d984372bf6b",
            "e8b5ac4c8e6bf202",
            "1be1d8274c9a4257",
            "30ba0f521198bbd8",
            "9c6534e38e97f7d4",
            "c49d27c5707f54ef",
            "f1e366e9478ad24b",
            "21c822b73a1a790f",
            "c315d2bc0f9f5450",
            "94e04f78394941c8",
            "803ab5a05ab504aa",
            "4a4799e9978f17d4",
            "a822334be0415c65",
            "1a95b681ac2bd59b",
            "fb34f424365902b7",
            "9389a9acd4a1b03c",
            "5c5e1b35ce8105c3",
            "d67c9e9e4e21dd68",
            "555734a35e0e3072",
            "75dc901b22a2e756",
            "0450141702b17a6e",
            "1ec061289f18591a",
            "b0237c85eaddd96d",
            "d44a3c6517a7fbb0",
            "a63bb1dd632e3cd7",
            "e843b0a5f8f8b77d",
            "690e74be08cade69",
            "c3782c02bfcff2c0",
            "59c6193dfb7fbf30",
            "2610abf7ed2cf201",
            "8f1d24a17151b4ae",
            "04b724f4f05057b8",
            "509ef12abebfd61b",
            "bd2d7b19c183ac98",
            "ef94714de14ab09e"
        ],
        "x": 54,
        "y": 39,
        "w": 572,
        "h": 862
    },
    {
        "id": "b4a856cd32d32ee8",
        "type": "group",
        "z": "fe79a10b200fcbe4",
        "name": "Get field index",
        "style": {
            "label": true
        },
        "nodes": [
            "af82d9ce42a2e765",
            "79834f7e73472f69",
            "06aa0ae92ea2d541"
        ],
        "x": 54,
        "y": 1519,
        "w": 572,
        "h": 82
    },
    {
        "id": "fa73380c34a41e43",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "6ec3c248c9c27cd4"
            ]
        ]
    },
    {
        "id": "7dfc7cdb6b3a1cb3",
        "type": "catch",
        "z": "fe79a10b200fcbe4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "2adf233445dd075b"
            ]
        ]
    },
    {
        "id": "2adf233445dd075b",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "name": "Log error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "026487697fe336f0",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1020,
        "wires": []
    },
    {
        "id": "965457174b5e5113",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "c2de63091b975e4f"
            ]
        ]
    },
    {
        "id": "b90a34264dcd35a8",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "58e854d69490128f"
            ]
        ]
    },
    {
        "id": "70b374c6722eb54d",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "e9036a07dc8b844e"
            ]
        ]
    },
    {
        "id": "e9a5a7e995dfa680",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "a7441eae5d03faf0"
            ]
        ]
    },
    {
        "id": "c25f78b64476f953",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "1842931a658f83aa"
            ]
        ]
    },
    {
        "id": "049e81844f43f2c4",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "47a3d7cd4e7c4e37"
            ]
        ]
    },
    {
        "id": "195dd42884203d80",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1400,
        "wires": [
            [
                "907a882a5d89da95"
            ]
        ]
    },
    {
        "id": "af82d9ce42a2e765",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1560,
        "wires": [
            [
                "06aa0ae92ea2d541"
            ]
        ]
    },
    {
        "id": "79834f7e73472f69",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1560,
        "wires": []
    },
    {
        "id": "92336b834febe436",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "d44a3c6517a7fbb0"
            ]
        ]
    },
    {
        "id": "758b5984126a14b4",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "a63bb1dd632e3cd7"
            ]
        ]
    },
    {
        "id": "d30b11b43960e76c",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "a97ea3f5dce48c87",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "2610abf7ed2cf201"
            ]
        ]
    },
    {
        "id": "4e2404394e47fe78",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "690e74be08cade69"
            ]
        ]
    },
    {
        "id": "bf9be1c52d0904f4",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "7702da50a849bbf6",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "59c6193dfb7fbf30"
            ]
        ]
    },
    {
        "id": "344a1d984372bf6b",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "04b724f4f05057b8"
            ]
        ]
    },
    {
        "id": "e8b5ac4c8e6bf202",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "1be1d8274c9a4257",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "30ba0f521198bbd8",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "c3782c02bfcff2c0"
            ]
        ]
    },
    {
        "id": "9c6534e38e97f7d4",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "e843b0a5f8f8b77d"
            ]
        ]
    },
    {
        "id": "c49d27c5707f54ef",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "f1e366e9478ad24b",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "ef94714de14ab09e"
            ]
        ]
    },
    {
        "id": "21c822b73a1a790f",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "509ef12abebfd61b"
            ]
        ]
    },
    {
        "id": "c315d2bc0f9f5450",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "bd2d7b19c183ac98"
            ]
        ]
    },
    {
        "id": "94e04f78394941c8",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a4799e9978f17d4",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "1be983dce9637bad",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f2aa4a82f1ebf24a",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bb5a0cbd640f8abc",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1280,
        "wires": []
    },
    {
        "id": "434ebfd44cf3155f",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1460,
        "wires": []
    },
    {
        "id": "95f135933541437f",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1400,
        "wires": []
    },
    {
        "id": "803ab5a05ab504aa",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae338cc6cbf504c9",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "a822334be0415c65",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "8f1d24a17151b4ae"
            ]
        ]
    },
    {
        "id": "1a95b681ac2bd59b",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "a8c1b618409d2187",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fb34f424365902b7",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "1ec061289f18591a"
            ]
        ]
    },
    {
        "id": "5c5e1b35ce8105c3",
        "type": "inject",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "b0237c85eaddd96d"
            ]
        ]
    },
    {
        "id": "d67c9e9e4e21dd68",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "9389a9acd4a1b03c",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "555734a35e0e3072",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "75dc901b22a2e756",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "0450141702b17a6e",
        "type": "debug",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "6ec3c248c9c27cd4",
        "type": "klicktipp-subscription-process-index",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "name": "",
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "026487697fe336f0"
            ]
        ]
    },
    {
        "id": "c2de63091b975e4f",
        "type": "klicktipp-subscription-process-get",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "listId": "",
        "name": "",
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "a8c1b618409d2187"
            ]
        ]
    },
    {
        "id": "58e854d69490128f",
        "type": "klicktipp-subscription-process-get-redirect",
        "z": "fe79a10b200fcbe4",
        "g": "4b4bc30ef2c82a8d",
        "email": "",
        "emailType": "str",
        "listId": "",
        "name": "",
        "x": 340,
        "y": 960,
        "wires": [
            [
                "ae338cc6cbf504c9"
            ]
        ]
    },
    {
        "id": "e9036a07dc8b844e",
        "type": "klicktipp-tag-index",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "name": "",
        "x": 280,
        "y": 1220,
        "wires": [
            [
                "1be983dce9637bad"
            ]
        ]
    },
    {
        "id": "a7441eae5d03faf0",
        "type": "klicktipp-tag-get",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagId": "",
        "name": "",
        "x": 280,
        "y": 1280,
        "wires": [
            [
                "bb5a0cbd640f8abc"
            ]
        ]
    },
    {
        "id": "1842931a658f83aa",
        "type": "klicktipp-tag-create",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagName": "",
        "tagNameType": "str",
        "tagDescription": "",
        "tagDescriptionType": "str",
        "name": "",
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "f2aa4a82f1ebf24a"
            ]
        ]
    },
    {
        "id": "907a882a5d89da95",
        "type": "klicktipp-tag-delete",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagId": "",
        "name": "",
        "x": 290,
        "y": 1400,
        "wires": [
            [
                "95f135933541437f"
            ]
        ]
    },
    {
        "id": "47a3d7cd4e7c4e37",
        "type": "klicktipp-tag-update",
        "z": "fe79a10b200fcbe4",
        "g": "4d5728772d927a60",
        "tagName": "",
        "tagNameType": "str",
        "tagDescription": "",
        "tagDescriptionType": "str",
        "tagId": 0,
        "x": 290,
        "y": 1460,
        "wires": [
            [
                "434ebfd44cf3155f"
            ]
        ]
    },
    {
        "id": "06aa0ae92ea2d541",
        "type": "klicktipp-field-index",
        "z": "fe79a10b200fcbe4",
        "g": "b4a856cd32d32ee8",
        "name": "",
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "79834f7e73472f69"
            ]
        ]
    },
    {
        "id": "1ec061289f18591a",
        "type": "klicktipp-subscriber-tag",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "klicktipp": "",
        "email": "",
        "emailType": "str",
        "tagId": [],
        "name": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "9389a9acd4a1b03c"
            ]
        ]
    },
    {
        "id": "b0237c85eaddd96d",
        "type": "klicktipp-subscriber-untag",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "email": "",
        "emailType": "str",
        "tagId": "",
        "name": "",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "d67c9e9e4e21dd68"
            ]
        ]
    },
    {
        "id": "d44a3c6517a7fbb0",
        "type": "klicktipp-subscriber-subscribe",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "email": "",
        "emailType": "str",
        "smsNumber": "",
        "smsNumberType": "str",
        "listId": "",
        "tagId": "",
        "fields": "",
        "fieldsType": "msg",
        "fieldsData": {},
        "x": 320,
        "y": 320,
        "wires": [
            [
                "803ab5a05ab504aa"
            ]
        ]
    },
    {
        "id": "a63bb1dd632e3cd7",
        "type": "klicktipp-subscriber-unsubscribe",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "email": "",
        "emailType": "str",
        "name": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "d30b11b43960e76c"
            ]
        ]
    },
    {
        "id": "e843b0a5f8f8b77d",
        "type": "klicktipp-subscriber-index",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "c49d27c5707f54ef"
            ]
        ]
    },
    {
        "id": "690e74be08cade69",
        "type": "klicktipp-subscriber-get",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "subscriberId": 0,
        "subscriberIdType": "num",
        "name": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "bf9be1c52d0904f4"
            ]
        ]
    },
    {
        "id": "c3782c02bfcff2c0",
        "type": "klicktipp-subscriber-update",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "name": "",
        "subscriberId": 0,
        "subscriberIdType": "num",
        "newEmail": "",
        "newEmailType": "str",
        "newSmsNumber": "",
        "newSmsNumberType": "str",
        "fields": "",
        "fieldsType": "msg",
        "fieldsData": {},
        "x": 310,
        "y": 380,
        "wires": [
            [
                "1be1d8274c9a4257"
            ]
        ]
    },
    {
        "id": "59c6193dfb7fbf30",
        "type": "klicktipp-subscriber-delete",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "subscriberId": 0,
        "subscriberIdType": "num",
        "name": "",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "4a4799e9978f17d4"
            ]
        ]
    },
    {
        "id": "2610abf7ed2cf201",
        "type": "klicktipp-subscriber-search",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "email": "",
        "emailType": "str",
        "name": "",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "94e04f78394941c8"
            ]
        ]
    },
    {
        "id": "04b724f4f05057b8",
        "type": "klicktipp-subscriber-tagged",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "tagId": "",
        "name": "",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "e8b5ac4c8e6bf202"
            ]
        ]
    },
    {
        "id": "509ef12abebfd61b",
        "type": "klicktipp-subscriber-signout",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "apiKey": "",
        "apiKeyType": "str",
        "email": "",
        "emailType": "str",
        "name": "",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "555734a35e0e3072"
            ]
        ]
    },
    {
        "id": "bd2d7b19c183ac98",
        "type": "klicktipp-subscriber-signoff",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "apiKey": "",
        "apiKeyType": "str",
        "email": "",
        "emailType": "str",
        "name": "",
        "x": 310,
        "y": 740,
        "wires": [
            [
                "75dc901b22a2e756"
            ]
        ]
    },
    {
        "id": "ef94714de14ab09e",
        "type": "klicktipp-subscriber-signin",
        "z": "fe79a10b200fcbe4",
        "g": "91d5baa69631ee47",
        "apiKey": "",
        "apiKeyType": "str",
        "email": "",
        "emailType": "str",
        "smsNumber": "",
        "smsNumberType": "str",
        "fields": "",
        "fieldsType": "msg",
        "fieldsData": {},
        "name": "",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "0450141702b17a6e"
            ]
        ]
    }
]