examples/node-red-contrib-klicktipp.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "KlickTipp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf5738c12d056948",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Subscription process",
        "style": {
            "label": true
        },
        "nodes": [
            "5aa5b82594f4d0f3",
            "2645b1236b9fc700",
            "9323ab38812ab2b5",
            "ebec1121d0adf3b1",
            "e57608be0bf1a740",
            "6200e69c5c8719d2",
            "840e0a425a025f4f",
            "a45b4d9e6310fd70",
            "369282f699769919",
            "30216e04346c12df",
            "1d3ee730ee98c43e",
            "6c73af2aa73de19b",
            "e89fc6b1d5c804f7",
            "70d522c5ec789540",
            "08a7bc5ea5133099",
            "2bb9e6c067b9bffe",
            "8e0f10d0e8bfb638",
            "df320ad263fbd757"
        ],
        "x": 34,
        "y": 19,
        "w": 1612,
        "h": 298.6666666666667
    },
    {
        "id": "841c24abbf112af4",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Tags",
        "style": {
            "label": true
        },
        "nodes": [
            "2207e9c243411240",
            "89587af7aaeca0a7",
            "4d4850d7ce48353e",
            "0eb8e2e5c73158e3",
            "f994eee70d01e889",
            "b49664db69604965",
            "f27fd3d5365c261e",
            "ac4a4ca4800eb7a1",
            "c045ebe913545d10",
            "14bfc9321a306ace",
            "c2a2f233b8e57ebe",
            "510d87c7f5530a16",
            "fc237bb93aa3ed5c",
            "a4ddb9e1b89db858",
            "abe8fe6ce3e5cc3b",
            "a13c4df698589ed7",
            "47664ab2aee05de7",
            "f0e440b48c6b497f",
            "9d8182b47f711415",
            "4598f5605ae81ed4",
            "190ab7ef75039a58",
            "627afc9eadb7aee5",
            "741a2771cfc34cde",
            "3c581837997f0704",
            "72a27b2ad3d7f097",
            "18768bede58dd8ad",
            "0118f7a8644e6295",
            "78766a79e10d9098",
            "68824e725de62b00",
            "356f7fda0f5fd365",
            "28d50b23b3580dfc",
            "bee302ee0b92cd05",
            "419167b623087ad7",
            "73d08dd2831cb963",
            "a69447149b030871",
            "fb893e423ac27c51",
            "4524713006e7e80d",
            "64ce7b2ac9c5991c",
            "1b9c582271ee14bb",
            "15075650415859d3",
            "1864d5cde7fee780",
            "9cf1729d2bcc6ca3",
            "e2b69d9e354f6841",
            "1ed1827e2abd4ea6",
            "ce3035279730ce60",
            "78a1b341401444dc"
        ],
        "x": 34,
        "y": 379,
        "w": 1992,
        "h": 602
    },
    {
        "id": "530a4c49cc3d32d2",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Subscription",
        "style": {
            "label": true
        },
        "nodes": [
            "cfbbfeda9295e4c4",
            "ba1722a3b71f8c98",
            "3dbdb60042a59908",
            "0adf32769f165936",
            "31b8ccdd059849ca",
            "f67d3cdda854ad75",
            "ab75cb2a86ea6bd8",
            "0c71a08de44a4858",
            "15961c3b70f990b0",
            "fa68838963bd9dd9",
            "a9893cb2938ae4ab",
            "bb71709688a14359",
            "b2b26b1c63ab4874",
            "293b5093322b3a2c",
            "cf6c61f5ca87d63d",
            "e8d0ed79ff859171",
            "1c0cec9ad2fe3ab1",
            "f8a8d2790d8fcba7",
            "6ee881ca481003a7",
            "c4e91cdcec798880",
            "5af78b229a5791b8",
            "6ae44f1f2284b2bc",
            "d693a38ab0d215f5",
            "cd000be19a107ea8",
            "dbc1b8801621965e",
            "b0644dc51eb82711",
            "8c87082ac9f4bae2",
            "f996ed6adacaa312",
            "9e6e5e8e81c24238",
            "ec689d99ff1cbfd6",
            "57e624632ce0662d",
            "9222df0f8ffb63e6",
            "12722b7594d645e9",
            "9d9a4206bc21ce86",
            "9e26233cbb187551",
            "db7200a58e3452bf",
            "6edf94c561ca551e",
            "76c46283804a5cd6",
            "bd6a7da43bb5d8a6",
            "82bc23fd87c4d08b",
            "a899a7486fa9b897",
            "5c156f5e0ea931ee",
            "c722e22bd126639a",
            "ea0f6a4805ae0fd3",
            "a3924fd46098ed26",
            "9c5190188fb829ee",
            "7d54802ff171acaa",
            "5c4415173fe975de",
            "54cf760e2e59c814",
            "688facd1fce93342",
            "064fd3749bfc7719",
            "d728a490ed71ed85",
            "8e25b1d3b124acba",
            "6bacb5ebb8a11116",
            "25854c5691d32abf",
            "1d93c046b127a01d",
            "206d164827152de7",
            "500aa3d8d9e53d65",
            "593cdee439465d73",
            "68dc9ddb8cc88fbe",
            "3e101f154a250c30",
            "ac3f1a378f5db30d",
            "b0631c9218179aac",
            "cb373f3ed7461b6b",
            "8d5982c0928d1d93",
            "005dda6355019254",
            "7cbf326aa17fd7df",
            "e15f260f96987fe8",
            "312bda771eedf79e",
            "d5db8fb508cd74f9",
            "8021701aeb4ad33c",
            "736fea082d02ad55"
        ],
        "x": 34,
        "y": 1279,
        "w": 1532,
        "h": 1382
    },
    {
        "id": "eefc87ca82a58e0c",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Get field index",
        "style": {
            "label": true
        },
        "nodes": [
            "12b4f0629291eb30",
            "bb7ff0378d8f0b9e",
            "2561d550aab3d1b7",
            "9a89458e3aef6138",
            "36eb3b9d0b68932c"
        ],
        "x": 34,
        "y": 999,
        "w": 432,
        "h": 242
    },
    {
        "id": "5aa5b82594f4d0f3",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "2645b1236b9fc700"
            ]
        ]
    },
    {
        "id": "c6e7d852bfcb4fb3",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1820,
        "y": 80,
        "wires": [
            [
                "48c19919cb49ea42"
            ]
        ]
    },
    {
        "id": "48c19919cb49ea42",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Log error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 140,
        "wires": []
    },
    {
        "id": "2645b1236b9fc700",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 132.22222222222223,
        "wires": [
            [
                "ebec1121d0adf3b1"
            ]
        ]
    },
    {
        "id": "9323ab38812ab2b5",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 276.6666666666667,
        "wires": [
            []
        ]
    },
    {
        "id": "ebec1121d0adf3b1",
        "type": "klicktipp subscription process index",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 230,
        "y": 204.44444444444446,
        "wires": [
            [
                "9323ab38812ab2b5",
                "e57608be0bf1a740"
            ]
        ]
    },
    {
        "id": "e57608be0bf1a740",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "6200e69c5c8719d2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 60,
        "wires": [
            [
                "840e0a425a025f4f"
            ]
        ]
    },
    {
        "id": "840e0a425a025f4f",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 700,
        "y": 114.16666666666667,
        "wires": [
            [
                "369282f699769919"
            ]
        ]
    },
    {
        "id": "a45b4d9e6310fd70",
        "type": "klicktipp subscription process get",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 760,
        "y": 222.50000000000006,
        "wires": [
            [
                "30216e04346c12df",
                "8e0f10d0e8bfb638"
            ]
        ]
    },
    {
        "id": "369282f699769919",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "Set list ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.listId",
                "pt": "msg",
                "to": "353458",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 168.33333333333337,
        "wires": [
            [
                "a45b4d9e6310fd70"
            ]
        ]
    },
    {
        "id": "30216e04346c12df",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "1d3ee730ee98c43e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 60,
        "wires": [
            [
                "2bb9e6c067b9bffe"
            ]
        ]
    },
    {
        "id": "6c73af2aa73de19b",
        "type": "klicktipp subscription process redirect",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1300,
        "y": 233.33333333333337,
        "wires": [
            [
                "df320ad263fbd757",
                "08a7bc5ea5133099"
            ]
        ]
    },
    {
        "id": "e89fc6b1d5c804f7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "princejames.glen@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 146.66666666666669,
        "wires": [
            [
                "70d522c5ec789540"
            ]
        ]
    },
    {
        "id": "70d522c5ec789540",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "Set lisd ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.listId",
                "pt": "msg",
                "to": "353458",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 190.00000000000003,
        "wires": [
            [
                "6c73af2aa73de19b"
            ]
        ]
    },
    {
        "id": "08a7bc5ea5133099",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1230,
        "y": 276.6666666666667,
        "wires": [
            []
        ]
    },
    {
        "id": "2bb9e6c067b9bffe",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1220,
        "y": 103.33333333333334,
        "wires": [
            [
                "e89fc6b1d5c804f7"
            ]
        ]
    },
    {
        "id": "2207e9c243411240",
        "type": "klicktipp tag index",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "f994eee70d01e889",
                "1b9c582271ee14bb"
            ]
        ]
    },
    {
        "id": "89587af7aaeca0a7",
        "type": "klicktipp tag get",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1230,
        "y": 600,
        "wires": [
            [
                "ac4a4ca4800eb7a1",
                "1864d5cde7fee780"
            ]
        ]
    },
    {
        "id": "4d4850d7ce48353e",
        "type": "klicktipp tag create",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 720,
        "y": 612,
        "wires": [
            [
                "abe8fe6ce3e5cc3b",
                "15075650415859d3"
            ]
        ]
    },
    {
        "id": "0eb8e2e5c73158e3",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "b49664db69604965"
            ]
        ]
    },
    {
        "id": "f994eee70d01e889",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b49664db69604965",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "2207e9c243411240"
            ]
        ]
    },
    {
        "id": "f27fd3d5365c261e",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1220,
        "y": 480,
        "wires": [
            [
                "c045ebe913545d10"
            ]
        ]
    },
    {
        "id": "ac4a4ca4800eb7a1",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1230,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c045ebe913545d10",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set tag ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.tagId",
                "pt": "msg",
                "to": "12071155",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "89587af7aaeca0a7"
            ]
        ]
    },
    {
        "id": "14bfc9321a306ace",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "f27fd3d5365c261e"
            ]
        ]
    },
    {
        "id": "c2a2f233b8e57ebe",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set name",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Node-RED-debug-123",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 516,
        "wires": [
            [
                "510d87c7f5530a16"
            ]
        ]
    },
    {
        "id": "510d87c7f5530a16",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set text",
        "rules": [
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "This is the debug tag",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 564,
        "wires": [
            [
                "4d4850d7ce48353e"
            ]
        ]
    },
    {
        "id": "fc237bb93aa3ed5c",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 700,
        "y": 468,
        "wires": [
            [
                "c2a2f233b8e57ebe"
            ]
        ]
    },
    {
        "id": "a4ddb9e1b89db858",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "fc237bb93aa3ed5c"
            ]
        ]
    },
    {
        "id": "abe8fe6ce3e5cc3b",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 710,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a13c4df698589ed7",
        "type": "klicktipp tag update",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1740,
        "y": 620,
        "wires": [
            [
                "4598f5605ae81ed4",
                "9cf1729d2bcc6ca3"
            ]
        ]
    },
    {
        "id": "47664ab2aee05de7",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1720,
        "y": 460,
        "wires": [
            [
                "190ab7ef75039a58"
            ]
        ]
    },
    {
        "id": "f0e440b48c6b497f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1690,
        "y": 420,
        "wires": [
            [
                "47664ab2aee05de7"
            ]
        ]
    },
    {
        "id": "9d8182b47f711415",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set name",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Node-RED-debug-331",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 540,
        "wires": [
            [
                "78a1b341401444dc"
            ]
        ]
    },
    {
        "id": "4598f5605ae81ed4",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1730,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "190ab7ef75039a58",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set tag ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.tagId",
                "pt": "msg",
                "to": "12071155",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 500,
        "wires": [
            [
                "9d8182b47f711415"
            ]
        ]
    },
    {
        "id": "627afc9eadb7aee5",
        "type": "klicktipp tag delete",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1240,
        "y": 885,
        "wires": [
            [
                "18768bede58dd8ad",
                "e2b69d9e354f6841"
            ]
        ]
    },
    {
        "id": "741a2771cfc34cde",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1220,
        "y": 775,
        "wires": [
            [
                "72a27b2ad3d7f097"
            ]
        ]
    },
    {
        "id": "3c581837997f0704",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 720,
        "wires": [
            [
                "741a2771cfc34cde"
            ]
        ]
    },
    {
        "id": "72a27b2ad3d7f097",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set tag ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.tagId",
                "pt": "msg",
                "to": "12071155",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 830,
        "wires": [
            [
                "627afc9eadb7aee5"
            ]
        ]
    },
    {
        "id": "18768bede58dd8ad",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1230,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "12b4f0629291eb30",
        "type": "klicktipp field index",
        "z": "f6f2187d.f17ca8",
        "g": "eefc87ca82a58e0c",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 180,
        "y": 1146.6666666666665,
        "wires": [
            [
                "36eb3b9d0b68932c",
                "9a89458e3aef6138"
            ]
        ]
    },
    {
        "id": "bb7ff0378d8f0b9e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "eefc87ca82a58e0c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "2561d550aab3d1b7"
            ]
        ]
    },
    {
        "id": "2561d550aab3d1b7",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "eefc87ca82a58e0c",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 1093.3333333333333,
        "wires": [
            [
                "12b4f0629291eb30"
            ]
        ]
    },
    {
        "id": "9a89458e3aef6138",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "eefc87ca82a58e0c",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "36eb3b9d0b68932c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "eefc87ca82a58e0c",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "cfbbfeda9295e4c4",
        "type": "klicktipp subscribe",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 180,
        "y": 1602.8571428571427,
        "wires": [
            [
                "0adf32769f165936",
                "3e101f154a250c30"
            ]
        ]
    },
    {
        "id": "ba1722a3b71f8c98",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 1367.142857142857,
        "wires": [
            [
                "206d164827152de7"
            ]
        ]
    },
    {
        "id": "3dbdb60042a59908",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "ba1722a3b71f8c98"
            ]
        ]
    },
    {
        "id": "0adf32769f165936",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 1649.9999999999998,
        "wires": [
            []
        ]
    },
    {
        "id": "31b8ccdd059849ca",
        "type": "klicktipp unsubscribe",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 180,
        "y": 1912,
        "wires": [
            [
                "15961c3b70f990b0",
                "fa68838963bd9dd9"
            ]
        ]
    },
    {
        "id": "f67d3cdda854ad75",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 1800,
        "wires": [
            [
                "0c71a08de44a4858"
            ]
        ]
    },
    {
        "id": "ab75cb2a86ea6bd8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1744,
        "wires": [
            [
                "f67d3cdda854ad75"
            ]
        ]
    },
    {
        "id": "0c71a08de44a4858",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "princejames.glen@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 1856,
        "wires": [
            [
                "31b8ccdd059849ca"
            ]
        ]
    },
    {
        "id": "15961c3b70f990b0",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 1968,
        "wires": [
            []
        ]
    },
    {
        "id": "fa68838963bd9dd9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a9893cb2938ae4ab",
        "type": "klicktipp subscriber search",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 740,
        "y": 1908,
        "wires": [
            [
                "cf6c61f5ca87d63d",
                "68dc9ddb8cc88fbe"
            ]
        ]
    },
    {
        "id": "bb71709688a14359",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 1740,
        "wires": [
            [
                "b2b26b1c63ab4874"
            ]
        ]
    },
    {
        "id": "b2b26b1c63ab4874",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 700,
        "y": 1796,
        "wires": [
            [
                "293b5093322b3a2c"
            ]
        ]
    },
    {
        "id": "293b5093322b3a2c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "ritterbruder123@gmail.com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1852,
        "wires": [
            [
                "a9893cb2938ae4ab"
            ]
        ]
    },
    {
        "id": "cf6c61f5ca87d63d",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 710,
        "y": 1964,
        "wires": [
            []
        ]
    },
    {
        "id": "e8d0ed79ff859171",
        "type": "klicktipp subscriber get",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1250,
        "y": 1908,
        "wires": [
            [
                "c4e91cdcec798880",
                "5af78b229a5791b8"
            ]
        ]
    },
    {
        "id": "1c0cec9ad2fe3ab1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 1740,
        "wires": [
            [
                "f8a8d2790d8fcba7"
            ]
        ]
    },
    {
        "id": "f8a8d2790d8fcba7",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1220,
        "y": 1796,
        "wires": [
            [
                "6ee881ca481003a7"
            ]
        ]
    },
    {
        "id": "6ee881ca481003a7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set subscriber ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.subscriberId",
                "pt": "msg",
                "to": "150022384",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 1852,
        "wires": [
            [
                "e8d0ed79ff859171"
            ]
        ]
    },
    {
        "id": "c4e91cdcec798880",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1916,
        "wires": []
    },
    {
        "id": "5af78b229a5791b8",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1230,
        "y": 1964,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0f10d0e8bfb638",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 710,
        "y": 276.6666666666667,
        "wires": [
            []
        ]
    },
    {
        "id": "6ae44f1f2284b2bc",
        "type": "klicktipp subscriber delete",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1260,
        "y": 2254.2000000000007,
        "wires": [
            [
                "b0644dc51eb82711",
                "ac3f1a378f5db30d"
            ]
        ]
    },
    {
        "id": "d693a38ab0d215f5",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set subscriber ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.subscriberId",
                "pt": "msg",
                "to": "150020594",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2192.4000000000005,
        "wires": [
            [
                "6ae44f1f2284b2bc"
            ]
        ]
    },
    {
        "id": "cd000be19a107ea8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 2068.8,
        "wires": [
            [
                "dbc1b8801621965e"
            ]
        ]
    },
    {
        "id": "dbc1b8801621965e",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1220,
        "y": 2130.6000000000004,
        "wires": [
            [
                "d693a38ab0d215f5"
            ]
        ]
    },
    {
        "id": "b0644dc51eb82711",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1230,
        "y": 2316,
        "wires": [
            []
        ]
    },
    {
        "id": "8c87082ac9f4bae2",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set fields",
        "rules": [
            {
                "t": "set",
                "p": "payload.fields",
                "pt": "msg",
                "to": "{\"fieldFirstName\":\"John\",\"fieldLastName\":\"Doe\", \"fieldCompanyName\":\"Doe Industries\",\"fieldStreet1\":\"123 Main St\",\"fieldStreet2\":\"Apt 4B\",\"fieldCity\":\"Anytown\", \"fieldState\":\"NY\",\"fieldZip\":\"12345\",\"fieldCountry\":\"USA\",\"fieldPrivatePhone\":\"555-1234\",\"fieldMobilePhone\":\"555-5678\",\"fieldPhone\":\"555-9876\", \"fieldFax\":\"555-4321\",\"fieldWebsite\":\"https://doeindustries.com\", \"fieldBirthday\": 495986091, \"fieldLeadValue\" : 100}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 1508.5714285714284,
        "wires": [
            [
                "500aa3d8d9e53d65"
            ]
        ]
    },
    {
        "id": "f996ed6adacaa312",
        "type": "klicktipp subscriber tagged",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 740,
        "y": 2254.2000000000007,
        "wires": [
            [
                "57e624632ce0662d",
                "9222df0f8ffb63e6"
            ]
        ]
    },
    {
        "id": "9e6e5e8e81c24238",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 2068.8,
        "wires": [
            [
                "ec689d99ff1cbfd6"
            ]
        ]
    },
    {
        "id": "ec689d99ff1cbfd6",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 700,
        "y": 2130.6000000000004,
        "wires": [
            [
                "12722b7594d645e9"
            ]
        ]
    },
    {
        "id": "57e624632ce0662d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 2240,
        "wires": []
    },
    {
        "id": "9222df0f8ffb63e6",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 710,
        "y": 2316,
        "wires": [
            []
        ]
    },
    {
        "id": "12722b7594d645e9",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set tag ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.tagId",
                "pt": "msg",
                "to": "12042204",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2192.4000000000005,
        "wires": [
            [
                "f996ed6adacaa312"
            ]
        ]
    },
    {
        "id": "9d9a4206bc21ce86",
        "type": "klicktipp subscriber update",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1240,
        "y": 1602.8571428571427,
        "wires": [
            [
                "9e26233cbb187551",
                "76c46283804a5cd6"
            ]
        ]
    },
    {
        "id": "9e26233cbb187551",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1580,
        "wires": []
    },
    {
        "id": "db7200a58e3452bf",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1170,
        "y": 1320,
        "wires": [
            [
                "6edf94c561ca551e"
            ]
        ]
    },
    {
        "id": "6edf94c561ca551e",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1200,
        "y": 1367.142857142857,
        "wires": [
            [
                "b0631c9218179aac"
            ]
        ]
    },
    {
        "id": "76c46283804a5cd6",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 1210,
        "y": 1649.9999999999998,
        "wires": [
            []
        ]
    },
    {
        "id": "bd6a7da43bb5d8a6",
        "type": "klicktipp subscriber index",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 740,
        "y": 1413.3333333333335,
        "wires": [
            [
                "c722e22bd126639a",
                "5c156f5e0ea931ee"
            ]
        ]
    },
    {
        "id": "82bc23fd87c4d08b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 1320,
        "wires": [
            [
                "a899a7486fa9b897"
            ]
        ]
    },
    {
        "id": "a899a7486fa9b897",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 700,
        "y": 1366.6666666666667,
        "wires": [
            [
                "bd6a7da43bb5d8a6"
            ]
        ]
    },
    {
        "id": "5c156f5e0ea931ee",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 710,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "c722e22bd126639a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1420,
        "wires": []
    },
    {
        "id": "0118f7a8644e6295",
        "type": "klicktipp untag email",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 720,
        "y": 896,
        "wires": [
            [
                "419167b623087ad7",
                "1ed1827e2abd4ea6"
            ]
        ]
    },
    {
        "id": "78766a79e10d9098",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "4524713006e7e80d"
            ]
        ]
    },
    {
        "id": "68824e725de62b00",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "356f7fda0f5fd365",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "rangler.yadir@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 808,
        "wires": [
            [
                "73d08dd2831cb963"
            ]
        ]
    },
    {
        "id": "28d50b23b3580dfc",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 720,
        "wires": [
            [
                "bee302ee0b92cd05"
            ]
        ]
    },
    {
        "id": "bee302ee0b92cd05",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 700,
        "y": 764,
        "wires": [
            [
                "a69447149b030871"
            ]
        ]
    },
    {
        "id": "419167b623087ad7",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 710,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "73d08dd2831cb963",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set tag IDs",
        "rules": [
            {
                "t": "set",
                "p": "payload.tagIds",
                "pt": "msg",
                "to": "['12042204']",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 852,
        "wires": [
            [
                "fb893e423ac27c51"
            ]
        ]
    },
    {
        "id": "a69447149b030871",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "rangler.yadir@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 808,
        "wires": [
            [
                "64ce7b2ac9c5991c"
            ]
        ]
    },
    {
        "id": "fb893e423ac27c51",
        "type": "klicktipp tag email",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 896,
        "wires": [
            [
                "68824e725de62b00",
                "ce3035279730ce60"
            ]
        ]
    },
    {
        "id": "4524713006e7e80d",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 764,
        "wires": [
            [
                "356f7fda0f5fd365"
            ]
        ]
    },
    {
        "id": "64ce7b2ac9c5991c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set tag ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.tagId",
                "pt": "msg",
                "to": "12042204",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 852,
        "wires": [
            [
                "0118f7a8644e6295"
            ]
        ]
    },
    {
        "id": "5c4415173fe975de",
        "type": "klicktipp signin",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "apikey": "",
        "name": "",
        "x": 1220,
        "y": 2616,
        "wires": [
            []
        ]
    },
    {
        "id": "a3924fd46098ed26",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set KT API key",
        "rules": [
            {
                "t": "set",
                "p": "payload.apiKey",
                "pt": "msg",
                "to": "KLICKTIPP_API_KEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 2451,
        "wires": [
            [
                "9c5190188fb829ee"
            ]
        ]
    },
    {
        "id": "9c5190188fb829ee",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "addylin.itali@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2506,
        "wires": [
            [
                "7d54802ff171acaa"
            ]
        ]
    },
    {
        "id": "ea0f6a4805ae0fd3",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 2396,
        "wires": [
            [
                "a3924fd46098ed26"
            ]
        ]
    },
    {
        "id": "7d54802ff171acaa",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set fields",
        "rules": [
            {
                "t": "set",
                "p": "payload.fields",
                "pt": "msg",
                "to": "{\"fieldFirstName\":\"John\",\"fieldLastName\":\"Doe\", \"fieldCompanyName\":\"Doe Industries\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2561,
        "wires": [
            [
                "5c4415173fe975de"
            ]
        ]
    },
    {
        "id": "d728a490ed71ed85",
        "type": "klicktipp signout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "apikey": "",
        "name": "",
        "x": 190,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "688facd1fce93342",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set KT API key",
        "rules": [
            {
                "t": "set",
                "p": "payload.apiKey",
                "pt": "msg",
                "to": "KLICKTIPP_API_KEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 2473.3333333333335,
        "wires": [
            [
                "064fd3749bfc7719"
            ]
        ]
    },
    {
        "id": "54cf760e2e59c814",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 2400,
        "wires": [
            [
                "688facd1fce93342"
            ]
        ]
    },
    {
        "id": "064fd3749bfc7719",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set emal",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "addylin.itali@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 2546.666666666667,
        "wires": [
            [
                "d728a490ed71ed85"
            ]
        ]
    },
    {
        "id": "6bacb5ebb8a11116",
        "type": "klicktipp signoff",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "apikey": "",
        "name": "",
        "x": 710,
        "y": 2616,
        "wires": [
            []
        ]
    },
    {
        "id": "25854c5691d32abf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set KT API key",
        "rules": [
            {
                "t": "set",
                "p": "payload.apiKey",
                "pt": "msg",
                "to": "KLICKTIPP_API_KEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 2469.3333333333335,
        "wires": [
            [
                "1d93c046b127a01d"
            ]
        ]
    },
    {
        "id": "8e25b1d3b124acba",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 2396,
        "wires": [
            [
                "25854c5691d32abf"
            ]
        ]
    },
    {
        "id": "1d93c046b127a01d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "addylin.itali@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2542.666666666667,
        "wires": [
            [
                "6bacb5ebb8a11116"
            ]
        ]
    },
    {
        "id": "206d164827152de7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "rangler.yadir@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 1414.2857142857142,
        "wires": [
            [
                "593cdee439465d73"
            ]
        ]
    },
    {
        "id": "500aa3d8d9e53d65",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set list ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.listId",
                "pt": "msg",
                "to": "353458",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 1555.7142857142856,
        "wires": [
            [
                "cfbbfeda9295e4c4"
            ]
        ]
    },
    {
        "id": "593cdee439465d73",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set SMS number",
        "rules": [
            {
                "t": "set",
                "p": "payload.smsNumber",
                "pt": "msg",
                "to": "004916317377",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 1461.4285714285713,
        "wires": [
            [
                "8c87082ac9f4bae2"
            ]
        ]
    },
    {
        "id": "68dc9ddb8cc88fbe",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ac3f1a378f5db30d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 2260,
        "wires": []
    },
    {
        "id": "1b9c582271ee14bb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "15075650415859d3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "1864d5cde7fee780",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 600,
        "wires": []
    },
    {
        "id": "9cf1729d2bcc6ca3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 620,
        "wires": []
    },
    {
        "id": "e2b69d9e354f6841",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 880,
        "wires": []
    },
    {
        "id": "1ed1827e2abd4ea6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 900,
        "wires": []
    },
    {
        "id": "ce3035279730ce60",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 900,
        "wires": []
    },
    {
        "id": "3e101f154a250c30",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 1600,
        "wires": []
    },
    {
        "id": "df320ad263fbd757",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "bf5738c12d056948",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0631c9218179aac",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set new email",
        "rules": [
            {
                "t": "set",
                "p": "payload.newEmail",
                "pt": "msg",
                "to": "anshika.catelin@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1414.2857142857142,
        "wires": [
            [
                "cb373f3ed7461b6b"
            ]
        ]
    },
    {
        "id": "cb373f3ed7461b6b",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set new SMS number",
        "rules": [
            {
                "t": "set",
                "p": "payload.newSmsNumber",
                "pt": "msg",
                "to": "004916317377",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1461.4285714285713,
        "wires": [
            [
                "8d5982c0928d1d93"
            ]
        ]
    },
    {
        "id": "8d5982c0928d1d93",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set fields",
        "rules": [
            {
                "t": "set",
                "p": "payload.fields",
                "pt": "msg",
                "to": "{\"fieldFirstName\":\"John\",\"fieldLastName\":\"Doe\", \"fieldCompanyName\":\"Doe Industries\",\"fieldStreet1\":\"123 Main St\",\"fieldStreet2\":\"Apt 4B\",\"fieldCity\":\"Anytown\", \"fieldState\":\"NY\",\"fieldZip\":\"12345\",\"fieldCountry\":\"USA\",\"fieldPrivatePhone\":\"555-1234\",\"fieldMobilePhone\":\"555-5678\",\"fieldPhone\":\"555-9876\", \"fieldFax\":\"555-4321\",\"fieldWebsite\":\"https://doeindustries.com\", \"fieldBirthday\": 495986091, \"fieldLeadValue\" : 100}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1508.5714285714284,
        "wires": [
            [
                "005dda6355019254"
            ]
        ]
    },
    {
        "id": "005dda6355019254",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set subscrber ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.subscriberId",
                "pt": "msg",
                "to": "150022384",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1555.7142857142856,
        "wires": [
            [
                "9d9a4206bc21ce86"
            ]
        ]
    },
    {
        "id": "7cbf326aa17fd7df",
        "type": "klicktipp resend autoresponder",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 220,
        "y": 2266.5600000000004,
        "wires": [
            [
                "8021701aeb4ad33c",
                "d5db8fb508cd74f9"
            ]
        ]
    },
    {
        "id": "e15f260f96987fe8",
        "type": "klicktipp login",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 160,
        "y": 2118.2400000000002,
        "wires": [
            [
                "736fea082d02ad55"
            ]
        ]
    },
    {
        "id": "312bda771eedf79e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 2068.8,
        "wires": [
            [
                "e15f260f96987fe8"
            ]
        ]
    },
    {
        "id": "d5db8fb508cd74f9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2260,
        "wires": []
    },
    {
        "id": "8021701aeb4ad33c",
        "type": "klicktipp logout",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "klicktipp": "503b624f12fcc468",
        "name": "",
        "x": 170,
        "y": 2316,
        "wires": [
            []
        ]
    },
    {
        "id": "736fea082d02ad55",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "530a4c49cc3d32d2",
        "name": "Set email",
        "rules": [
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "rangler.yadir@milkads.org",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 2167.6800000000003,
        "wires": [
            [
                "08770eab992446c0"
            ]
        ]
    },
    {
        "id": "08770eab992446c0",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set autoresponder ID",
        "rules": [
            {
                "t": "set",
                "p": "payload.autoresponder",
                "pt": "msg",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 2217.1200000000003,
        "wires": [
            [
                "7cbf326aa17fd7df"
            ]
        ]
    },
    {
        "id": "78a1b341401444dc",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "g": "841c24abbf112af4",
        "name": "Set text",
        "rules": [
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "Debug text",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 580,
        "wires": [
            [
                "a13c4df698589ed7"
            ]
        ]
    },
    {
        "id": "503b624f12fcc468",
        "type": "klicktipp-config",
        "name": "Mykhailo"
    }
]